/* You can add global styles to this file, and also import other style files */

@import '@fortawesome/fontawesome-free/css/all.min.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quantico', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 2rem 0;
  
  /* IMAGEM DE FUNDO */
  background-image: url('assets/imgs/background.jpg'); 
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;  
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
}

.retro-titulo {
  font-family: 'VT323', monospace;
  font-weight: 400;
  letter-spacing: 0.02em;
}
